body {
    margin: 0;
    font-family: montserrat;
    font-size: 18px;
    line-height: 1.6;
}

.header {
    padding-top: 50px;
    min-height: 500px;
    color: #eeee;
    background-image: url("images/background_main.png");
    background-size: cover;
    position: relative;
}

.header::after {
    content: url("images/leaf2.png");
    position: absolute;
    right: 0;
    bottom: -30px;
    width: 244px;
    height: 217px;
}

.header::before {
    content: url("images/leaf1.png");
    position: absolute;
    left: 85px;
    bottom: -93px;
    width: 285px;
    height: 187px;
}

#portfolio {
    position: relative;
    padding-bottom: 200px;
}

#portfolio::before {
    content: url("images/dots.png");
    position: absolute;
    top: -27px;
    left: 50%;
    width: 74px;
    height: 54px;
    transform: translate(313px, 0);
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.container_big {
    max-width: 1340px;
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 80px;
    margin-top: 150px;
    text-align: center;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-top: 0px;
}

h3 {
    font-family: Poppins;
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
}

.navigation {
    text-transform: uppercase;
    font-family: "playfair Display";
    margin: 0;
    padding: 0;
    justify-content: end;
    list-style: none;
    gap: 35px;
    display: flex;
}

.navigation-portfolio {
    position: relative;
    padding-top: 120px;
    justify-content: center;
    color: #41228e;
}


.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a:hover{
    text-decoration: underline;
}

.portfolio-grid {
    display: grid;
    margin-top: 85px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 24px;
    grid-auto-flow: row;
    grid-template-areas:
      "big small small"
      "big big2 small2"
      "small3 big2 big3"
      "small4 small4 big3";
}

.big { grid-area: big; }

.small { grid-area: small; }

.small, .small4 {
    display: flex;
    gap: 24px;
}

.big2 { grid-area: big2; }

.small2 { grid-area: small2; }

.big3 { grid-area: big3; }

.small3 { grid-area: small3; }

.small4 { grid-area: small4; }

.big, .big2, .big3 {
    height: 584px;
}

.small, .small2, .small3, .small4 {
    height: 280px;
}
.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.portfolio-grid .card {
    width: 100%;
    height: 100%;
}

.clients__box {
    display: flex;
    margin-top: 95px;
    justify-content: space-around;
}

.clients {
    background-color: #f8f9fa;
    padding-bottom: 125px;
    padding-top: 100px;
}

.clients-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#contact {
    position: relative;
    background-image: url("./images/background_dots.png");
    padding-top: 65px;
    height: 525px;
    z-index: 1;
}

.contact_form {
    display: flex;
    flex-direction: column;
    max-width: 765px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    border-radius: 7px;
}

.form_text {   
    text-align: center;
    padding-top: 50px;
}

.contact_form_fieldset { 
    font-family: "playfair display";
    font-size: 22px;
    border: none;
    margin: 0;
}

.ui_input {
    resize: none;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #c7c7c7;
    outline: none;
    transition: 0.2s;
}

.ui_input:focus {
    border-bottom: 1px solid #41228e;
}

.contact_form_inputs_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px 0;
    margin-top: 60px;
}

.contact_form_name_email_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
}

.contact_form label {
    color: rgb(58, 58, 58);
    font-family: roboto;
    font-size: 15px;
}

.contact_form input, .contact_form textarea {
    width: 100%;
}

.contact_form_msg_label {
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.form_submit_button {
    align-self: center;
    width: 356px;
    height: 59px;
    font-family: "playfair display";
    text-transform: uppercase;
    background-color: #41228e;
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.footer {
    background-color: #222222;
    width: 100%;
    padding-top: 250px;
}

.footer-contacts {
    display: grid;
    grid-template-columns: 235px 175px 280px;
    justify-content: space-between;
    gap: 20px;
}

.footer-contacts__item {
    font-family: "playfair display";
    font-size: 22px;
    color: white;
}

.footer-contacts__item h6 {
    font-size: 18px;
    color: #7a7a7a;
    margin: 0px;
    margin-bottom: 15px;
}

.footer-contacts__item p {
    margin: 0;
}

.copyright {
    margin-top: 60px;
    padding-top: 45px;
    padding-bottom: 75px;
    text-align: center;
    font-size: 15px;
    color: #7a7a7a;
    border-top: 0.5px solid #363636;
}
